body {font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 20px; margin: 0;}
*{box-sizing:border-box;}
.container { max-width: 900px;  text-align: center;width: 70%;float: left;margin: 0 auto; padding-left: 100px;display: inline-block;}
.links{background-color: black;width: 20%;float: left;display: inline-block;display: block; height: 650px;text-align: center;}
body a:hover{ background-color: #284856; color: #fff;}
body a {text-decoration: none; color: #F5B700; height: 70px; line-height: 60px;
 font-size: 20px; transition: background  0.7s; display: block}
.som{color: #F5B700; font-family: bold}
.containerlogo{float: left;margin-top: 0}
.imagen{width: 100px; display: inline-block;}
.costado{display: inline-block;color: black;font-family: bold}
.footerF{bottom: 0;position: fixed;background-color: #D5B942;width:100%;height: 30px ;text-align: right;font-family: bold; color: black;padding-right:10px;}
.pie{margin: 0 auto;color: black}
.bg{background-color: black;width: 20%;float: left;display: inline-block;display: block; height: 6530px; text-align: center;}
p { color: #35302D}
h1 {font-weight: 700; margin: 20px 0; color: #000;}
.frases{padding-bottom: 55px}
.covi {font-family:bold;}
header {background: url(https://s1.1zoom.me/b5050/780/348522-admin_3840x2400.jpg) center bottom fixed;  margin: 0; padding: 15px 0; background-size:  cover }

 /* background-image: url(../img/fondo1.jpg); background-size: cover;
 background-position: center top; background-attachment: fixed */

/* background-size: cover es un valor que sirve para cubrir el 100% de alto o de alto dependiendo el tamanio,
 el problema es que perdemos mucha foto.. */

/* backgraund-position, es para alinear el fondo en diferentes partes de la pantalla, tiene 9 posibilidades
, top, bottom, left, right y center. con sus combinaciones (se nota cuando achicamos la imagen) */

/* el background atachment deja fija la foto */


.headerHome {height: 200px; text-align: center}
header a {text-decoration: none}


/* Transition: es una propiedad que hace que los cambios de color o los cambios sean paulatinos, y no al instante
, de a poco */

nav {background-color: #C1823E; margin: 0; font-size: 0px; text-align: center}

nav a { text-decoration: none; color: #000; display: inline-block; height: 60px; padding: 0 20px; line-height: 60px;
 font-size: 20px; transition: background  0.7s; display: block }
nav a:hover { background-color: #284856; color: #fff}

h1,h2 { text-align: center }

.press {background-color: #777777; color: #fff}



/* border es con el siguiente orden: ancho, estilo (solid, dashed y dotted) y color */
/* el border-radius es para hacer que los bordes se redondeen */



footer { text-align: right; font-size: 14px; padding: 40px 0 }


/*contacto*/
.contacto {background-color: #aaa; margin-bottom: 100px ;padding: 10px}
/*formulario*/
	.form-consulta {max-width: 500px; margin: 0 auto; font-family: 'Source Sans Pro', sans-serif;}
	.campo-form {width:100%; height:36px; margin:2px 0 6px; padding-left:6px; box-sizing: border-box; border-radius:3px; border:0; font-family: 'Source Sans Pro', sans-serif; font-size:1em;}
	label span {color: #f00}
	textarea {min-height: 100px!important;}
	.btn-form {display: inline-block; border:0; background: #000; height: 46px; line-height: 46px; padding: 0 20px; border-radius: 6px; color:#fff; text-decoration: none; text-transform: uppercase; letter-spacing: 1px}
	.btn-form:hover {background: #444}


	#imagebutton { background-color: #CC3F0C; margin-bottom: 10px }
	#imagebutton:hover { background-color: #771607 }

.activo { background-color: #444 }

.contenido span { color: red }
#botones { padding: 4px; margin-top: 3px }
.btn-pag { margin: 4px }

.select{display: block;}
.sl{display: inline-block;}



@media only screen and (min-width: 768px) {
.container{margin: 0 auto; text-align: center;}
nav a { display: inline-block }

.containerweb { margin: 0 auto; max-width: 900px; padding: 0 20px; text-align: center }



}


@media only screen and (max-width: 768px){
	.container{padding-left: 40px}
}